body{
    margin: 0;
    padding: 0;
    right: 40%;
}
t{

line-height: 150%;
    left: 10%;

    font-family: "Calibri";
    font-size: 25px;
    text-align: center;
}
t.a{
    text-align: center;

}


heading{

}
address_table{

}